
# Credenciales y tokens de Google
mysite/token.json
mysite/token_drive.json
mysite/old-token.json
mysite/credentials.json
mysite/pruebas/token_drive.json

.venv/
__pycache__/
respaldos/
*.pyc
.envtoken_onedrive.json

token_onedrive.json
.env