# Variables de entorno
.env

# Tokens y credenciales
token_onedrive.json
mysite/token.json
mysite/token_drive.json
mysite/old-token.json
mysite/credentials.json
mysite/pruebas/token_drive.json

# Entornos virtuales
.venv/
venv/
env/
ENV/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.so

# Archivos de base de datos locales
*.db
*.sqlite
*.sqlite3

# Respaldos
respaldos/

# OS
.DS_Store
Thumbs.db
.idea/
.vscode/

# Logs
*.log
logs/
